@font-face {
  font-family: Product sans;
  src: url('Product Sans Regular.ttf');
}

.layout-transparent {
  background: url('./40840936395_dbd1fe6d00_b.jpg') center / cover;
  /* temp image */
}

body {
  font-family: Product sans, Google sans, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.material-icons {
  color: white;
}

.mdl-button {
  color: white;
  font-family: Product sans, Google sans, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.card-wide>.mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('./40840936395_dbd1fe6d00_b.jpg') center / cover;
}

.card-wide>.mdl-card__menu {
  color: #fff;
}
